{% extends 'base.html' %}

{% load cloudinary %}
{% cloudinary_includes %}
{% cloudinary_js_config %}

{% block content %}	

<form action="{% url "projeto.core.views.galeria" %}" method="post" enctype="multipart/form-data">

	{% csrf_token %}
	{% if log %}
		<div class="panel panel-primary" style="padding:5px;margin:20px;border: 2px solid blue;">
		<div class="panel-heading"><strong>Upload</strong></div>
			<table>
				<tr>
					<td style="padding:10px;margin:20px;"><label for="arquivos">Arquivos:</label></td>
					<td style="padding:10px;margin:20px;"><input type="file" name="image" multiple></td>
				</tr>
				<tr>
					<td style="padding:10px;margin:20px;"><input type="submit" value="Upload"></td>
				</tr>
			</table>
		</div>
	{% endif %}
	
	<div class="panel panel-primary" style="padding:5px;margin:20px;border: 2px solid blue;">
	<div class="panel-heading" style="margin-bottom:10px;"><strong>Galeria</strong></div>
	
		<div class="row">
			{% for img in photo %}
				<!--{% cloudinary "v1403310707/u2zxp7nk50zh0vocgtuy.jpg" width=100 height=150 crop="fill" %}-->
				<div class="col-xs-{{ photo.count }} col-md-2">
					<!--<div class="panel panel-primary" style="border: 1px solid #1C86EE;">-->
						<a href='http://res.cloudinary.com/fighter/image/upload/h_400/{{ img.image }}' rel="lightbox-cats" title="" class="thumbnail">
						  {% cloudinary img.image height=500 width=400 crop="fill" %}
						</a>
						<p style="text-align:center;font-size:12px;"></p>
					<!--</div>	-->
				</div>
			{% empty %}
				<li> Sem Itens na Lista </li>
			{% endfor %}
		</div>
	</div>
	<!--{{ form.image }}-->
	<!--{{ direct_form }}-->
	
</form>
	
{% endblock content%}

<!--cloudinary.uploader.upload("my_picture.jpg")-->