{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content%}	

 
<div class="container">
  <div class="col-sm-10 col-sm-offset-1">
  
    <div class="page-header text-center">      
      <h1>Obrigado {{ contato.nome}}!!</h1>
    </div>
    
    <p class="lead text-center"> 
		A Equipe Fighter agradece seu contato.<br/>
		Retornaremos em breve nos contatos que deixou: [{{contato.telefone }}|{{contato.email}}].
    </p> 
	
	<p class="lead text-center"> 
		<a href="/">P&aacute;gina Inicial</a>
    </p> 
    
    <hr>        
  </div>
</div>

<div class="divider"></div>
{% endblock content%}


{% block script%}
<script>
//location.href = '#contato';
</script>
{% endblock script%}
