{% extends 'base.html' %}
{% load cloudinary %}
{% cloudinary_includes %}
{% load widget_tweaks %}
{% block content%}	

<header class="masthead">

  	<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="{{ STATIC_URL }}img/slide-1.jpg">
          
        </div>

		{% for c in carrosel %}
			<div class="item">
			  {% cloudinary c.image height=580 %}
			  <div class="container">
				<div class="carousel-caption">
				  <h2>{{c.image}}</h2>
				  <p>{{c.image}}</p>
				</div>
			  </div>
			</div>
		{% endfor %}

      </div><!-- /.carousel-inner -->
      
      <!-- Controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>  
    </div>
    <!-- /.carousel -->
  
</header>

<!-- Fixed navbar -->
<div class="navbar navbar-custom navbar-inverse navbar-static-top" id="nav">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav nav-justified">
          <li><a href="{{BASE_DIR}}">Home</a></li>
          <li><a href="#sobre">Sobre</a></li>
          <li><a href="#noticias">Noticias</a></li>
          <li><a href="#galeria">Galeria</a></li>
          <li><a href="#localizacao">Localização</a></li>
          <li><a href="#contato">Contato</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container -->
</div><!--/.navbar -->


<!-- Begin page content -->
<div class="divider" id="sobre"></div>
 
<div class="container">
  <div class="col-sm-10 col-sm-offset-1">
  
    <div class="page-header text-center">      
      <h1>Equipe Fighter</h1>
    </div>
    
    <p class="lead text-center"> 
		A equipe fighter é asadfdfgffhjfda!
    </p> 
    
    <hr>
    
    <div class="divider"></div>  
  </div>
</div>
    
<div class="divider"></div>
  
<section class="bg-1">
  <div class="col-sm-6 col-sm-offset-3 text-center"></div>
</section>
  
<div class="divider" id="noticias"></div>
   
<div class="row">
{% for n in noticias %}
  	<div class="col-sm-10 col-sm-offset-1">	
      <h1><a href="noticia/{{n.slug}}"> {{n.titulo|upper}}</a></h1>
      <p style="color:#999999;font-size:10;">Postado em {{n.dataAlteracao|date:"d"}} de {{n.dataAlteracao|date:"F"}} de {{n.dataAlteracao|date:"Y"}} as {{ n.dataAlteracao|time:"H:i" }}</p>
	  <p style="color:#999999;font-size:10;">Autor {{n.user}}</p>
      <hr>
		<p>{{n.noticia|safe|truncatewords:50}}</p>
      <hr>
	  
	  <div class="divider"></div>
  	</div><!--/col-->
{% empty %}
		Sem noticias para exibir
{% endfor %}
<a href="/noticias/" style="color:blue;font-size:16px;"> ver mais </a>
</div><!--/container-->

<div class="divider"></div>
  
<!--
<section class="bg-3">
  <div class="col-sm-6 col-sm-offset-3 text-center"><h2 style="padding:20px;background-color:rgba(5,5,5,.8)">Clients &amp; Partners</h2></div>
</section>
-->
  
<div class="divider" id="galeria"></div>

<div class="col-sm-10 col-sm-offset-1">
  <h1>Galeria</h1>
</div>


<div>
  <div class="container">
	<div class="row">
		{% for img in fotos %}
			<div class="col-sm-2 col-xs-7">
				<div class="panel panel-default">
					<div>
						<a href='http://res.cloudinary.com/fighter/image/upload/h_450/{{ img.image }}' rel="lightbox-cats" title="" class="thumbnail">
							{% cloudinary img.image height=500 width=400 crop="fill" %}
						</a>
					</div>
				</div>
			</div>
		{% empty %}
			<li> Sem Itens na Lista </li>
		{% endfor %}
	<a href="/galeria/" style="color:blue;font-size:16px;"> ver mais </a>
	</div>
	
  </div>
</div>

<div class="divider" id="localizacao"></div>

<div class="row">
  <div class="col-md-8 col-md-offset-1">
  </div>
</div>
  
<div class="row">
  
  <div class="col-sm-10 col-sm-offset-1">
      <h1>Localizacao</h1>
  </div>   
       
  <div id="map-canvas"></div>
  
  <hr>
  
  <div class="col-sm-8"></div>
  <div class="col-sm-3 pull-right">

      <address>
        Academia Chromus<br>
        <span id="map-input">
        Rua Marfim, 177<br>
        Centro, Belo Horizonte - MG </span><br>
        Tel: (031) 3434-5999
      </address>	  
    
      <address>
        <strong>Email</strong><br>
        <a href="mailto:#">email@email.com</a>
      </address>          
  </div>
  
</div><!--/row-->
  
<div class="divider" id="contato"></div>  

<div class="row">
  
  <hr>
  
  <form action="." id="form_contato" method="POST" style="display:block;">

  <div class="col-sm-9 col-sm-offset-1">
      
      <div class="row form-group">
        <div class="col-md-12">
        <h1>Contato</h1>        
        </div>

      {% csrf_token %}    
      {{ form.non_field_errors }}
        <div class="col-xs-10">            
            {{ form.nome|add_class:"form-control"|attr:"placeholder:Seu Nome"}}
            {{ form.nome.errors }}
        </div>

      </div>

      <div class="row form-group">
          <div class="col-xs-5">
            {{ form.email|add_class:"form-control"|attr:"placeholder:Email"}}
            {{ form.email.errors }}
          </div>
          <div class="col-xs-5">
            {{ form.telefone|add_class:"form-control"|attr:"placeholder:Telefone"}}
            {{ form.telefone.errors }}
          </div>
      </div>

      <div class="row form-group">
          <div class="col-xs-10">            
            {{ form.comentario|add_class:"form-control"|attr:"placeholder:Comentario"}}
            {{ form.comentario.errors }}
          </div>
      </div>
      <div class="row form-group">
          <div class="col-xs-10">
            <button id="btn_contato" class="btn btn-default pull-right">Enviar</button>
          </div>
      </div>
    
  </div>
  </form>
</div><!--/row-->
{% endblock content%}

{% block script%}
<script>

$(document).ready(function(){  
  var origem = '{{origem}}';
  if(origem == 'criando'){    
    location.href = '#contato';
  }

	$('#btn_contato').click(function(){
		$('#form_contato').submit();
	});
});

</script>
{% endblock script%}
