{% extends 'base.html' %}
{% load cloudinary %}
{% cloudinary_includes %}
{% load widget_tweaks %}

{% block content%}
        <div class="row-fluid">
            <div class="span12">
                <div id="headerSeparator"></div>
            </div>
        </div>
    </div>
	
    <div class="contentArea">

        <div class="divPanel notop page-content">

            <div class="breadcrumbs">
                <a href="/">Home</a> &nbsp;/&nbsp; <span>Galeria</span>
            </div>

            <!--Edit Portfolio Content Area here-->
            <div class="row-fluid">
				<div class="span12">
					<h1>Galeria</h1>
					
					<div class="yoxview">					
						<div class="row-fluid">
							<ul class="thumbnails">
								{% for img in photo %}									
									<li class="span3">
										<div class="thumbnail">
											<a href='http://res.cloudinary.com/fighter/image/upload/{{img.image}}.jpg'>
												<img src="http://res.cloudinary.com/fighter/image/upload/w_300,h_200/{{img.image}}.jpg" alt="Thumbnail Placeholder" title="<div style='background-color:red;' class='fb-like'></div>{{img.comentario|default_if_none:''}}" />
											</a>
										</div>
									</li>
									{% if forloop.counter|divisibleby:4  %}
										</ul>
										<ul class="thumbnails">
									{% endif %}								
								{% empty %}
									<li> Sem Itens na Lista </li>
								{% endfor %}
								</ul>
						  </div>
					</div>
				</div>
            </div>
			<!--/End Portfolio Content Area-->
			<div class="row text-center">
				<div class="pagination pagination-centered">
				
					<ul>
						{% if photo.has_previous %}
							<!--<li><a href="?page={{ photo.previous_page_number }}">&laquo;</a></li>--><!--um a um -->
							<li><a href="?page=1">&laquo;</a></li>
						{% endif %}
						{% for pg in photo.paginator.page_range %}
							{% if photo.number == pg %}
								<li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
							{% else %}
								<li><a href="?page={{ pg }}">{{ pg }}</a></li>
							{% endif %}
						{% endfor %}
						{% if photo.has_next %}
							<li><a href="?page={{ photo.paginator.num_pages }}">&raquo;</a></li>
						{% endif %}
					</ul>
				
				</div>
			</div>
			
            <div id="footerInnerSeparator"></div>
        </div>
    </div>

    <div id="footerOuterSeparator"></div>

{% endblock content%}

{% block script%}

<script src="{{STATIC_URL}}scripts/jquery.min.js" type="text/javascript"></script> 
<script src="{{STATIC_URL}}scripts/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}scripts/default.js" type="text/javascript"></script>

<script src="{{STATIC_URL}}scripts/wookmark/js/jquery.wookmark.js" type="text/javascript"></script>
<script type="text/javascript">$(window).load(function () {var options = {autoResize: true,container: $('#gridArea'),offset: 10};var handler = $('#tiles li');handler.wookmark(options);$('#tiles li').each(function () { var imgm = 0; if($(this).find('img').length>0)imgm=parseInt($(this).find('img').not('p img').css('margin-bottom')); var newHeight = $(this).find('img').height() + imgm + $(this).find('div').height() + $(this).find('h4').height() + $(this).find('p').not('blockquote p').height() + $(this).find('iframe').height() + $(this).find('blockquote').height() + 5;if($(this).find('iframe').height()) newHeight = newHeight+15;$(this).css('height', newHeight + 'px');});handler.wookmark(options);handler.wookmark(options);});</script>

<script src="{{STATIC_URL}}scripts/yoxview/yox.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}scripts/yoxview/jquery.yoxview-2.21.js" type="text/javascript"></script>
<!--<script src="{{STATIC_URL}}scripts/yoxview/yoxview-init.js" type="text/javascript"></script>-->
<script type="text/javascript">$(document).ready(function () {$('.yoxview').yoxview({autoHideInfo:false,renderInfoPin:false,backgroundColor:'#ffffff',backgroundOpacity:0.8,infoBackColor:'#000000',infoBackOpacity:1});$('.yoxview a img').hover(function(){$(this).animate({opacity:0.7},300)},function(){$(this).animate({opacity:1},300)});});</script>

<!--<script type="text/javascript">$(document).ready(function () {	$("#yoxview_infoPanel").hide();});</script>-->
<script>$(document).ready(function(){$("#menubar li").removeClass();$("#galeria").attr('class', 'active');});</script>

{% endblock script%}